@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
  font-family: 'Nanum Gothic', sans-serif;
}
body, h1, h2 {
  margin: 0px;
  padding: 0px;
}
body {
  min-width: fit-content;
}
.container {
  border: thick double #ebebeb;
  width: 610px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}
header {
  text-align: right;
}
h1 {
  font-weight: 900;
  font-style: italic;
}
.name-text {
  font-size: 17px;
  color: #7c7c7c;
  font-weight: bold;
}
h2 {
  color: #919191;
  border-bottom: 1px solid #aaa;
  padding: 5px;
}
.experience-brief {
  position: relative;
}
h3 {
  line-height: 35px;
  margin: 16px 0 10px 0;
}
time {
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
}
.experience-brief-role{
  margin: 0;
}
.experience-brief-work {
  margin: 5px 0 0 0;
}
footer {
  text-align: center;
  background-color: #1e1e1e;
  color: #919191;
  font-size: 12px;
  padding: 20px 0;
  line-height: 1.5;
}
/* footer p {
  background-color: pink;
} */
